@inject SupervisorApiService _supervisorApiService
@inject IModalService _modalService
@using ReactiveUI
@using hhnl.HomeAssistantNet.CSharpForHomeAssistant.Web.Components
@using hhnl.HomeAssistantNet.CSharpForHomeAssistant.Web.Services
@using hhnl.HomeAssistantNet.Shared.Configuration
@using hhnl.HomeAssistantNet.Shared.Supervisor
@using System.Reactive.Disposables
@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">C# for Home Assistant</a>
        <div class="navbar-text">@NavBarText</div>
        <div class="d-flex">
            <button disabled="@(_supervisorApiService.State != SupervisorApiService.ApplicationState.ConnectedToHost)" class="btn btn-primary me-3" @onclick="ManageSecrets" type="submit">Manage Secrets</button>
            <button disabled="@(_supervisorApiService.State == SupervisorApiService.ApplicationState.BuildAndDeploy)" class="btn btn-primary" @onclick="OnBuildClick" type="submit">Build & Deploy</button>
        </div>
    </div>
</nav>
<div class="page">
    <div class="main">
        <div class="container">
            @Body
        </div>
    </div>
</div>
@if (Connection is null || !Connection.IsComplete)
{
    <div class="overlay">
        <div class="spinner-border text-primary"></div>
    </div>
}

@code
{
    private IDisposable? _connectionChangedSubscription;

    protected override Task OnInitializedAsync()
    {
        _connectionChangedSubscription = _supervisorApiService.Connection.Subscribe(t =>
        {
            Connection = t;
            StateHasChanged();
        });

        return _supervisorApiService.StartAsync();
    }

    SupervisorConnectionInfo? Connection { get; set; }

    public void Dispose()
    {
        _connectionChangedSubscription?.Dispose();
    }

    private async Task OnBuildClick()
    {
        var logId = await _supervisorApiService.StartBuildAndDeployAsync();

        if (logId == Guid.Empty)
            return; // Error occured.

        var parameters = new ModalParameters();
        parameters.Add(nameof(Logs.LogId), logId);
        parameters.Add(nameof(Logs.IsBuildLog), true);

        _modalService.Show<Logs>("Log", parameters, new ModalOptions { HideCloseButton = true });

        await _supervisorApiService.WaitForBuildAndDeployAsync();
    }

    private async Task ManageSecrets()
    {
        var secrets = await _supervisorApiService.GetSecretsAsync();

        var parameters = new ModalParameters();
        parameters.Add(nameof(SecretsEditor.Secrets), secrets);

        var editor = _modalService.Show<SecretsEditor>("Secrets", parameters, new ModalOptions
        {
            DisableBackgroundCancel = true,
        });

        var result = await editor.Result;

        if(!result.Cancelled)
        {
            var newSecrets = (AutomationSecrets)result.Data;
            await _supervisorApiService.SaveSecretsAsync(newSecrets);
        }
    }

    private string NavBarText => Connection switch
    {
        null => "Not connected - Waiting for connection ...",
        { IsComplete: false, IsRemote: true } => "Connected (Remote) - Retrieving automations ...",
        { IsComplete: false, IsRemote: false } => "Connected (Local) - Retrieving automations ...",
        { IsComplete: true, IsRemote: true } => "Connected (Remote)",
        { IsComplete: true, IsRemote: false } => "Connected (Local)"
    };
}