.page {
    padding-top: 4.5rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100,100,100,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .spinner-border {
    height: 10em;
    width: 10em;
    border-width: 0.5em;
}